.wrapper {
  display: flex;
  flex-direction: column;

  button {
    width: 10rem;
    align-self: center;
  }

  .search {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    align-items: center;
  }
}

.wrapper-table {
  display: flex;
  justify-content: center;
  margin-top: 2rem;

  table,
  th,
  td {
    border: 1px solid black;
  }
}

.error {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  color: red;
  flex-direction: column;
  align-items: center;
}
